
<div class="contenedor">
    <h1>Habilidades Duras y Blandas <br></h1>
        <div class="caja1">
            <div class="graf1">
                <img  src="../assets/Ingles.jpg"   alt="Menu"    />
            </div>
            <div class="graf2">
                <img  src="../assets/Automat.jpg"   alt="Menu"    />
            </div>
        </div>
    <div class="caja2">
        <div class="graf3">
                <img  src="../assets/Program.jpg"   alt="Menu"    />
            </div>
            <div class="graf4">
                <img  src="../assets/Software.jpg" alt="Menu"    />
            </div>

    </div>

    <div class="caja1">
        <div class="graf5">
                <img  src="../assets/Blandas.jpg"   alt="Menu"    />
            </div>
            <br>
            
    </div>
    
    
</div>
