
<div class="contenedor">
    <h1>{{miDatoh.TitGraf}} <br></h1>
        <div class="caja1">
            <div class="graf1">
                <img  [src]="miDatoh.Hab1"   alt="Menu"    />
            </div>
            <div class="graf2">
                <img  [src]="miDatoh.Hab2"   alt="Menu"    />
            </div>
        </div>
    <div class="caja2">
        <div class="graf3">
                <img  [src]="miDatoh.Hab3"   alt="Menu"    />
            </div>
            <div class="graf4">
                <img  [src]="miDatoh.Hab4" alt="Menu"    />
            </div>

    </div>

    <div class="caja1">
        <div class="graf5">
                <img  [src]="miDatoh.Hab5"   alt="Menu"    />
            </div>
            <br>
            
    </div>
    
    
</div>
