h1{
    color: darkgray;
    /*background-color: black;*/
    background: rgb(18,18,18);
    background: linear-gradient(90deg, rgba(18,18,18,1) 55%, rgba(136,132,132,1) 97%);
    padding: 1%;
    text-align: center;
}

.contenedor{
    /*background-color: black;*/
    background: rgb(18,18,18);
    background: linear-gradient(90deg, rgba(18,18,18,1) 55%, rgba(136,132,132,1) 97%);
    
}

.caja1{
    display:flex;
}

.caja2{
    display:flex;
}

.graf1{
    width: 40%;
    padding: 1%;
    margin-left: 10%;
    margin-bottom: 1%;
}

div.graf1:hover{
    transform: translateX(center);
    transform: scale(1.5);
}

.graf2{
    width: 40%;
    padding: 1%;
    margin-left: 2%;
    margin-bottom: 1%;
}

div.graf2:hover{
    transform: translateX(center);
    transform: scale(1.5);
}
.graf3{
    width: 40%;
    padding: 1%;
    margin-left: 10%;
    margin-bottom: 1%;
}

div.graf3:hover{
    transform: translateX(center);
    transform: scale(1.5);
}

.graf4{
    width: 40%;
    padding: 1%;
    margin-left: 2%;
    margin-bottom: 1%;
}

div.graf4:hover{
    transform: translateX(center);
    transform: scale(1.5);
}

.graf5{
    width: 40%;
    padding: 1%;
    margin-left: 25%;
    margin-bottom: 1%;
    
    
}

div.graf5:hover{
    transform: translateX(center);
    transform: scale(1.5);
}

img{
    border-radius: 10%;
   border-style: groove;
   border-color: white;
}
