<div class="contenedor">
        
    <h2>Formacion Academica   </h2>
    

</div>

<div class="contenedor">
        
   
    <div class="div-1">
        <h6>
            Facultad de Ingenieria-Universidad nacional de Mar del Plata-Argentina 
        </h6>
    </div>

    <div class="div-2">
        <h5>
            Título de Ingeniero Electrónico y matriculado en el colegio de ingenieros de la Pcia. De Bs. As., Mat.

            Nº 49637           

        </h5>
    </div>
</div>

<div class="contenedor">
    <div class="div-1">
        <h6>
            E.E.T. Nº 1 Com. L. Piedra Buena Mar del Plata, ARG. 
        </h6>
    </div>

    <div class="div-2">
        <h5>
            Título de Técnico Electromecánico.
         </h5>
    </div>
</div>
<div class="contenedor">
    <div class="div-1">
        <h6>Univ. Tecnológica Nac. MdP Mar del Plata, ARG.
            <br>
            "Puesto: Operador y Programador EIA-ISO de Centro de Mecanizado a control numérico MAZAK V-5 y MAZAK V-12.</h6>
    </div>

    <div class="div-2">
        <h5>
            Título de Profesor en Disciplinas Industriales, Formación Docente y varios cursos de capacitación docente.
        </h5>
    </div>
    
    






