
<div class="contenedor">
        
    <h2>Experiencia <h6>Resumen, para detalles descargar CV<a download="CVRivero" href="../assets/RiveroCV.pdf" >aqui</a></h6> </h2>
    

</div>

<div class="contenedor">
        
   
    <div class="div-1">
        <h6>1999 al 06/2014 - VOLTA BUENOS AIRES SRL Mar del Plata, ARG. 
            <br>
            Puesto: Jefe de Depto. Electricidad y Electrónica - Representante Tec</h6>
    </div>

    <div class="div-2">
        <h5>
            <ul>
                <li>
                    Diseño de la 1º máquina del país de tracción directa con motor a imanes permanentes multipolar con un optimización de un 50% en ahorro de energía. Con mas de 40 máquinas ya instaladas.
                </li>
                <li>
                    Desarrollo y fabricación de controlador de maniobra de ascensor basado en microcontroladores
                </li>
                <li>
                    Otros desarrollos con microcontroladores para varios accesorios relacionados con ascensores.
                </li>
                <li>
                    Programación y puesta en marcha de variadores de frecuencia de cualquier marca y para toda aplicación(FVVV).
                </li>
                <li>
                    Desarrollo y fabricación de controlador de maniobra de ascensor basado en microcontroladores
                </li>
                <li>
                    Desarrollo y fabricación de controlador de maniobra de ascensor basado en microcontroladores
                </li>
            </ul>
            
            

        </h5>
    </div>
</div>

<div class="contenedor">
    <div class="div-1">
        <h6>1998–1999 ESKABE S.A. Mar del Plata, ARG. 
            <br>
            Puesto: Puesta en marcha y optimización de Túnel de Pintura</h6>
    </div>

    <div class="div-2">
        <h5>
            <ul>
                <li>
                    Configuracion, puesta en marcha y mantenimiento de tunel de pintura
                </li>
                <li>
                    Diseño de dispositivo de sujeción y carros de transporte de piezas cumpliendo con las exigencias del proceso y determinación del método de trabajo en el proceso, logrando un aumento en la productividad y calidad de la sección en piezas por hora
                </li>
                <li>
                    Confección de un sistema de control de insumos para evitar el desabastecimiento del proceso.
                </li>
                <li>
                    Estudio de métodos y tiempos en todos los sectores de la fábrica.
                </li>
                
            </ul>
            
            

        </h5>
    </div>
</div>
<div class="contenedor">
    <div class="div-1">
        <h6>1993–1997 EMZO S. A. I. C. Mar del Plata, ARG.
            <br>
            "Puesto: Operador y Programador EIA-ISO de Centro de Mecanizado a control numérico MAZAK V-5 y MAZAK V-12.</h6>
    </div>

    <div class="div-2">
        <h5>
            <ul>
                <li>
                    Confección Programas EIA-ISO para CNC y dispositivos de sujeción para el mecanizado de piezas.
                </li>
                              
            </ul>
        </h5>
    </div>
</div>
<div class="contenedor">
        
   
    <div class="div-1">
        <h6>06/2014 – Actualidad INTEMA – CONICET Mar del Plata, ARG. 
            <br>
            Profesional principal-Laboratorio de Electrónica</h6>
    </div>

    <div class="div-2">
        <h5>
            <ul>
                <li>
                    Diseñar y construir circuitos electrónicos para aplicaciones diversas en el área de la ingeniería de materiales, química y mecánica. 
                </li>
                <li>
                    Mantener equipamiento electrónico específico: espectro-fotómetros  UV, infrarrojos y otros, cromatógrafos, hornos y muflas, extrusoras, mezcladoras, balanzas, medidores de PH, potenciostatos, microscopios electrónicos, máquinas de ensayos mecánicos etc. 
                </li>
                <li>
                    Asesorar en la selección y compra de nuevo equipamiento científico
                </li>
                <li>
                    Gestionar los servicios de mantenimiento coordinando su prioridad, juntamente con el desarrollo y construcción de equipos electrónicos. 
                </li>
                
            </ul>
            
            

        </h5>
    </div>
</div>

<div class="cv"><h4>y mucho mas, para detalles descargar CV<a download="CVRivero" href="../assets/RiveroCV.pdf">aqui</a></h4><br></div>





