.contenedor{
    display: flex;
    background: rgb(18,18,18);
    background: linear-gradient(90deg, rgba(18,18,18,1) 55%, rgba(136,132,132,1) 97%);
    
}


.div-1{
    /*background-color: black;*/
    background: rgb(18,18,18);
    background: linear-gradient(90deg, rgba(18,18,18,1) 55%, rgba(136,132,132,1) 97%);
    width: 40%;
    padding: 1%;
    margin-left: 2%;
    margin-bottom: 1%;
}

.div-2{
    /*background-color: black;*/
    background: rgb(18,18,18);
    background: linear-gradient(90deg, rgba(18,18,18,1) 55%, rgba(136,132,132,1) 97%);
    width: 55%;
    padding: 1%;
    margin-left: 2%;
    margin-bottom: 1%;
    color: darkgrey;
    

}

h2{
    color: darkgrey;
    margin-left: 40%;
}

a{
    color: rgb(136, 234, 247);
    font-size: small;
    padding-left: 10px;
    
}

h6 {
    font-family: sans-serif;
    font-style: oblique;
    color: darkgrey;
    font-size: small;
    
}

.cv{
    color: darkgrey;
    padding-left: 40%;
    /*background-color: black;*/
    background: rgb(18,18,18);
    background: linear-gradient(90deg, rgba(18,18,18,1) 55%, rgba(136,132,132,1) 97%);
    
}

 hr{
    margin-left: 15%;
    /*background-color: black;*/
    background: rgb(18,18,18);
    background: linear-gradient(90deg, rgba(18,18,18,1) 55%, rgba(136,132,132,1) 97%);
}