<div class="fondo">
    
    <h2 class="texto">Servicios a ofrecer</h2>
    <ul>
        <li>Asesoria</li>
        <li>Diseño, cableado y puesta en marcha de tableros industriales (Sistemas de Control, Automatizacion)</li>
        <li>Diseño, cableado y puesta en marcha de tablero de control de ascensores</li>
        <li>Programacion de PLC</li>
        <li>Configuracion y programacion de Variadores de velocidaad</li>
        <li>Programacion de microcontroladores</li>
        <li>Diseño de circuitos electronicos</li>
        <li>Control de Motores Electricos <strong>(especialista en motores multipolares a iman permanenete)</strong></li>
        <li>Modalidad de prestacion: part time, presencial, freelance o homeoffice</li>
    </ul>

    <br>
    

</div>
