h1{
    color: darkgray;
    /*background-color: black;*/
    background: rgb(18,18,18);
    background: linear-gradient(90deg, rgba(18,18,18,1) 55%, rgba(136,132,132,1) 97%);
    padding: 1%;
    text-align: center;
}

.contenedor{
    /*background-color: black;*/
    background: rgb(18,18,18);
    background: linear-gradient(90deg, rgba(18,18,18,1) 55%, rgba(136,132,132,1) 97%);
    
}

.caja1{
    display:flex;
    width: 50%;
}

p {
    color: darkgray;
    text-align: center;
}
    
div.graf:hover{
    transform: translateX(center);
    transform: scale(2);
}


.graf{
    width: 40%;
    padding: 1%;
    margin-left: 2%;
    margin-bottom: 1%;
}

.caja2 p{
    text-align: justify;
    color: lightskyblue;
    width: 50%;
    margin-left: 30%;
    
}

.V{

  /* text-align: center;*/
   margin-left: 30%;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 10%;
   border-style: groove;
   border-color: white;
}

h6{
    color: lightskyblue;
    text-align: center;
}


