<div class="contenedor">
    <h1>Mis trabajos en Imagenes y Videos <br></h1>
        <div class="caja1">
            <div class="graf">
                <img  src="../assets/MSIP.jpg"   alt="Menu"    />
                <p>Maquina Gearless</p>
            </div>
            <div class="graf">
                <img  src="../assets/Gab2.jpg"   alt="Menu"    />
                <p>Gabinetes, Tableros Industrales</p>
            </div>

            <div class="graf">
                <img  src="../assets/Modern.jpg"   alt="Menu"    />
                <p>Modernizacion de instalaciones Industriales</p>
            </div>
            <div class="graf">
                <img  src="../assets/Wireless.jpg" alt="Menu"    />
                <p>Equipos para ensayo en laboratorio <br> oprados por celular</p>
            </div>
            <div class="graf">
                <img  src="../assets/Spincoater.jpg" alt="Menu"    />
                <p>Control de Motores de CA, CC, Paso a paso, brushless,etc</p>
            </div>
        </div>

        <div class="caja2">
            
            <div class="video1">
                        <h6>Filmcasting - Lab Electronica-INTEMA- CONICET:
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/IzHQ55EWwyY?si=1Oc2paWKpIpYYqrC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </h6>
                        
                        <br>
                        <p>Equipo de laboratorio que lo que hace es arrastrar una nuestra para analizar
                            su viscosidad o adherencia o alguna otra propiedad del material, tiene un
                            movimiento lineal con limites en los extremos que detienen el movimiento.
                            Filmcasting es una técnica que se usa mucho en investigación de materiales
                            Se opera por bluetooth con una aplicación realizada con MIT inventor y una
                            placa arduino.
                            
                        </p>
            
            </div>
        </div>

        <br>
        <br>

        <div class="caja2">
            <div class="video1">
                <h6>Motor sincrinico a imanes permanentes multipolar

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/O4l1FZ0tDAg?si=rIj1FBddyoqpxtyP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </h6>
                <br>
                <p>Vídeo que primero da un resumen de algunos de mis trabajos y luego muestra la diferencia del motor sincrónico a imanes permanentes
                    en comparación a otro tipo de accionamiento de maquinas de tracción, en
                    este caso con un motor de continua.
                    La maquina a destacar es la que se encuentra a la derecha en la imagen de
                    color verde, donde ya de observa la diferencia de tamaño, fue diseñada y
                    calculada para un ascensor que puede traccionar 1400 Kg a 90 m/min con
                    suspensión 2 a 1.
                    Fue fabricada mientras trabaje en  VOLTA BUENOS AIRES SRL, diseñada Mecanicamente por  Lino de la Torre y
                    y la parte elecrtomagnetica en si, calculada por el Ing. Antonio Rivero, existen mas de 50 maquinas instaladas
                    en el pais por nosotros
                    Este video intenta explicar las bondades de la actualización tecnológica
                    como forma de optimizar sistemas, aprovechando los últimos avances de la
                    ingeniería.
                    
                    
                    
                </p>
    
    </div>

        </div>

        <!--

            <div class="video2">
                    
                    <br>
                        <p>Vídeo que muestra la diferencia del motor sincrónico a imanes permanentes
                            en comparación a otro tipo de accionamiento de maquinas de tracción, en
                            este caso con un motor de continua.
                            La maquina a destacar es la que se encuentra a la derecha en la imagen de
                            color verde, donde ya de observa la diferencia de tamaño, fue diseñada y
                            calculada para un ascensor que puede traccionar 1400 Kg a 90 m/min con
                            suspensión 2 a 1.
                            Fue fabricada por VOLTA BUENOS AIRES SRL, diseñada por Lino de la Torre y
                            calculada por el Ing. Antonio Rivero, existen mas de 50 maquinas instaladas
                            en el pais por nosotros
                            Este video intenta explicar las bondades de la actualización tecnológica
                            como forma de optimizar sistemas, aprovechando los últimos avances de la
                            ingeniería.
                        </p>
                
                </div>
        -->
    
    
</div>
