@keyframes slideInFromLeft{
    0%{
    transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes slideInFromRigth{
    0%{
    transform: translateX(100%);
    }
    100%{
        transform: translateX(25%);
    }
    
}



#foto {
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    width: 25%;
    animation:1s ease-out 0s 1 slideInFromLeft;
    
}

img {
    width: 100%;
}

#presentacion {
    /*background-color: black;*/
    background: rgb(18,18,18);
background: linear-gradient(90deg, rgba(18,18,18,1) 55%, rgba(136,132,132,1) 97%);
    padding-left: 10%;
    animation:1s ease-out 0s 1 slideInFromRigth;
}

#slogan {
    color: darkgray;
    padding-left: 25%;
}

#frase {
    color: darkgray;
    padding-left: 25%;
}

h1#nombre {
    color: darkgray;
    padding-left: 25%;
    font-weight: bold;
    font-size: 450%;
}

#especialidad{
    color: darkgray;
    padding-left: 25%;
}

