<div id="foto"><img [src]="miDatoh.MiFoto" alt="foto" >
    
</div>
<div id="presentacion">
    
    <h3 id="slogan">{{miDatoh.Slogan}}</h3>
    <br>
    <br>
    <h4 id="frase">{{miDatoh.Frase}}</h4>
    <br>
    <br>
    <h1 id="nombre" >{{miDatoh.Nombre}}</h1>
    <br>
    <h5 id="especialidad">{{miDatoh.Especialidad}} <br>
        <ul>
            <li *ngFor="let items of miDatoh.Experto">{{items.rubro}}</li>
            <!--<li>Control de Ascensores</li>
            <li>Control de Motores Electricos</li>
            <li>Control Industrial</li>
            <li>Automatizacion</li>
            <li>y mas...</li>-->
        </ul>
    </h5>
    <br>
    <br>

</div>

    



